#ctrl_panel{
    border:1px solid #000;
    box-shadow: 3px 3px 3px;
}

#sta_panel{
    border: 1px solid #000;
    box-shadow: 3px 3px 3px;
}

#grid_window{
    border: 1px solid #000;
    box-shadow: 3px 3px 3px;
}

#clock_real{
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

#clock_relative{
    border: 1px solid #000;
}




#sss{
    border-radius: 15px;
    border: 1px solid #000;
    box-shadow: 5px 5px 5px;
    background: rgb(200, 200, 200);
}

#sss_Off{
    border-radius: 15px;
    border: 1px solid #000;
    box-shadow: 5px 5px 5px;
    background: rgb(255, 100, 100);
}

#sss_On{
    border-radius: 15px;
    border: 1px solid #000;
    box-shadow: 5px 5px 5px;
    background: rgb(100, 255, 100);
}




#ics{
    border-radius: 15px;
    border: 1px solid #000;
    box-shadow: 5px 5px 5px;
    background: rgb(200, 200, 200);
}

#ics_Off{
    border-radius: 15px;
    border: 1px solid #000;
    box-shadow: 5px 5px 5px;
    background: rgb(255, 100, 100);
}

#ics_On{
    border-radius: 15px;
    border: 1px solid #000;
    box-shadow: 5px 5px 5px;
    background: rgb(100, 255, 100);
}





#ssb_Off {
    border-radius: 15px;
    font-size: 23px;                                 
    background: rgb(255, 190, 190);
}
#ssb_Off:hover {
    border-radius: 15px;
    font-size: 23px;                                 
    background: rgb(255, 202, 202);
}
#ssb_On {
    border-radius: 15px;
    font-size: 23px;                                 
    background: rgb(121, 53, 53);
}
